.env
voucherless_countryless.txt
server_run_main.sh
requirements_jupyter.txt
job.sub
Fases getTaxonRef.txt
tests/
dereplicate/
phylogeny/
get-taxonREF/
.pytest_cache/
__pycache__/
backup/
backups e tests/
testes/
phylogeny/
*.pyc
*.pyo
*.pyd
*.log
*.pdf
*.sh
*.txt
*.gb
*.fas
*.fasta
*.csv
*.parquet
*.xlsx
*.sqlite3
*.db
*.bak
*.swp
.~lock.*#
.DS_Store
.idea/
.vscode/
*.egg-info/
